html, body {
	offset: 0;
	padding: 10px;
	border: 0;
	margin: 0;
	width: calc(100vw - 30px);
	min-height: calc(100vh - 30px);
	overflow-x: hidden;
}

html {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
	background-color: #333;
	color: #fff;
}

.center {
	display: flex;
	align-items: center;
	gap: 10px;
}

div {
	border: 2px solid #08e;
	min-width: 50vw;
	padding: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 25vh;
}

a {
	color: #e8e;
	text-decoration: none;
}

#decklist>li>span {
	font-weight: bold;
	color: #e88;
}

a:hover, #decklist>li>span:hover {
	text-decoration: underline;
}

input {
	background-color: #333;
	color: #fff;
	border: 2px solid #08e;
	padding: 4px;
	transition: 0.2s;
}

input::placeholder {
	color: #aaa;
}

input[type='text'] {
	width: 200px;
}

input[type='text']:hover {
	border-color: #0e8;
	width: 230px;
}

input[type='submit'], input[type='button'] {
	min-width: 50px;
}

input[type='submit']:hover, input[type='button']:hover {
	border-color: #0e8;
	min-width: 80px;
}

textarea {
	background-color: #444;
	color: #fff;
	padding: 10px;
}
